header{
  width: 1080px;
  margin: auto;
}
main{
  width: 1080px;
  height: 1080px;
  margin: auto;
}
footer{
  width: 1080px;
  margin: auto;
}
.font{
  font-family:sans-serif;
}

.head{
  height:200px;
  padding: 10px;
  display: block; 
  margin: auto;
}

.screen{
  position: fixed;
}
.main-container{
  margin: auto;
  display: grid;
  grid-template-columns: 330px 740px;
  grid-template-rows: 1080px;
  gap: 10px;
}
.content{
  width: 740px;
  display: grid;
  grid-template-columns: 740px;
  grid-template-rows: 370px 340px 430px;
  gap: 10px;
  margin: auto;
}
.profile{
  background-color: #1B1717;
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: 270px 100px 300px 320px;
  gap: 10px;
  margin: auto;
  padding: 30px;
  border-radius:5px;
}
.circle{
  width: 250px;
  border-radius:50%;
  padding: 10px 10px 10px 10px;
}
.profile > .circle{
  width: 250px;
}
.photo{
  width: 740px;
  height: 370px;
  border: 10px solid #CE1212;
  display: grid;
  grid-template-columns: 233px 233px 233px;
  grid-template-rows: 330px;
  padding: 10px;
  border-radius:5px;
}
.square{
  border-radius:5px;
  height:330px;
  display: block;
  margin: auto;
}
.block{
  padding: 5px 5px 5px 5px;
  color: #EEEBDD;
  width: 260px;
}
.movie{
  background-color: #810000;
  height: 340px;
  padding: 10px;
  border-radius:5px;
}
.floatl{
  float: left;
  margin-right: 20px;
  height: 320px;
}
.detail{
  display: flex;
  height: 320px;
  color: #EEEBDD;
  flex-direction: column;
  justify-content: space-evenly;
}
.member{
  background-color: #CE1212;
  display: grid;
  grid-template-rows: 70px 270px;
  height: 350px;
  padding: 5px 10px 5px;
  border-radius:5px;
}
.mem_photo{
  display: grid;
  grid-template-rows: 200px 70px;
  grid-template-columns: 144px 144px 144px 144px 144px;
}
.mem{
  width: 140px;
  display: block;
  margin: auto;
}
.name{
  font-size: 20px;
  color: #EEEBDD;   
  text-align: center; 
  margin-top: 7px;
}

.mb{
  width: 140px;
  display: block;
  margin: auto;
}
.ball{
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 10px;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes move{
  0% {
      margin-left: 0px;
  }
  50% {
      margin-left: 970px;
  }
  100% {
      margin-left: 0px;
  }
}