{% extends 'base.html' %} 

{% block content %}
  <h1>DETAIL</h1>
  <hr />

  {% if article.image_thumbnail %}
    <img src="{{article.image_thumbnail.url}}" />
  {% endif %}

  <div id="article-content">
    <p>글 제목 : {{article.title}}</p>
    <p>글 내용 : {{article.content}}</p>
    <p>생성시각 : {{article.created_at}}</p>
    <p>수정시각 : {{article.updated_at}}</p>
    <hr>
    <form action="{% url 'articles:create_comment' article.pk %}" method="POST">
      {% csrf_token %}
      {{commentForm}}
      <input type="submit" value="댓글 작성">
    </form>
    <hr>
    {% for comment in comment_list %}
      <li>{{comment.content}}</li>
      {% for reply in comment.replies.all %}
      <p>>> {{ reply.content }}</p>
      {% endfor %}
      <form action="{% url 'articles:create_comment' article.pk %}" method="POST">
        <input type="hidden" name="parent_pk" value="{{ comment.pk }}">
        {% csrf_token %}
        {{commentForm}}
        <input type="submit" value="대댓글">
      </form>
      <hr>
    {% endfor %}
    <br>
    
    {% if article.image %}
    <img src="{{article.image.url}}" />
    {% endif %}
    <hr>
    <a href="{% url 'articles:update' article.pk %}">수정하기</a>
    <form action="{% url 'articles:delete' article.pk %}" id="delete-form">
      {% csrf_token %}
      <input type="submit" value="삭제하기" id="delete-btn" />
    </form><br>
    <hr>
    <a href="{% url 'articles:index' %}">목록보기</a>
  </div>
{% endblock content %}
